<!DOCTYPE html>
{% load static %} 
{% block content %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
     
</head>
<body>
	
<div class="container">
	{% include 'blog/navbar.html' %}
	{%endblock%}
	<div class="showcase">
		
		
		<img src="{{ post_list.0.photos.url }}" class="img1">
		<div class="new1"><h1><a href="#">{{ post_list.0.title }}</a></h1></div>
		<div class="sub1">{{ post_list.0.preview }}</div>
		
	</div>
	<div class="card">
		<div>
			
			<img src="{{ post_list.1.photos.url }}">
			<h3>{{ post_list.1.title }}</h3>
			<p>{{ post_list.1.preview }}</p>
			<a href="#">Saber mas<i class="fas fa-angle-double-right"></i></a>
			
		</div>
		<div>
			<img src="{{ post_list.2.photos.url }}">
			<h3>{{ post_list.2.title }}</h3>
			<p>{{ post_list.2.preview }}</p>
			<a href="#">Saber mas<i class="fas fa-angle-double-right"></i></a>
		</div>
		<div>
			<img src="{{ post_list.3.photos.url }}">
			<h3>{{ post_list.3.title }}</h3>
			<p>{{ post_list.3.preview }}</p>
			<a href="#">Saber mas<i class="fas fa-angle-double-right"></i></a>
		</div>
		<div>
			<img src="{{ post_list.4.photos.url }}">
			<h3>{{ post_list.4.title }}</h3>
			<p>{{ post_list.4.preview }}</p>
			<a href="#">Saber mas<i class="fas fa-angle-double-right"></i></a>
		</div>

	</div>
	
	
</div>


</body>
</html>